main{
display: grid;
grid-template-columns: 6% 94%;
padding: 0px;
margin: 10px 5px 10 5px;
font-family: "Roboto", sans-serif;
font-weight: 395px;
font-style: normal;

}

.derecha{
    margin-right: 30px;
}
.iconoslateral > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-left: 11px;
    width: 28px;
}


.iconoslateral {
display: flex;
flex-direction: column;
margin-top: 20px;
width: 28px;
margin: 20px;
font-size: 11px;
color: white;

}

.sugerencias{
display: flex;
justify-content: center;
align-content: stretch;
gap: 8px;
margin-top: 15px;
color: white;
}

.lupa{
background-color: rgba(109, 98, 98, 0.214);
width: 60px;
height: 48px;
border: none;
border-radius: 0px 15px 15px 0 ;
font-family: "Roboto", sans-serif;
font-weight: 40px;
font-style: normal;
}


.todo, .music, .mixes, .lista, .directo, .pods, .regga, .pop, .juegos, .rock, .aero, .progre{
background-color: rgba(109, 98, 98, 0.214);
width: 100px;
height: 33px;
border: none;
border-radius: 8px 8px 8px 8px;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
color: white;
}
.todo:hover, .musica:hover, .mixes:hover, .lista:hover, .directo:hover, .pods:hover, .regga:hover, .pop:hover, .juegos:hover, .rock:hover, .aero:hover, .progre:hover, .vocabulario:hover{
background-color: rgba(109, 107, 107, 0.358);
color: white;
font-weight: 80px;
cursor: pointer;
transition: font-weight 0.1s;
}

.videos1{
display: flex;
justify-content: space-around;
margin: 45px 20px 95px 45px;
gap: 10px;
font-size: 11px;
color: white;
}


.aerosmith > img, .feid >img, .sabrina> img, .george >img{
border-radius: 10px;
cursor: pointer;
}


h2:hover{
    color: white;
    font-size: 17px;
    font-weight: 100px;
    cursor: pointer;
    transition: font-weight 0.8s;
}

.videos2{
display: flex;
justify-content: space-between;
margin: 20px 20px 10px 35px;
gap: 12px;
font-size:11px;
color: white;
}

.oasis > img, .greicy > img, .selena > img, .pxndx > img{
    border-radius: 10px;
}



















.iconoslateral{
    display: none;
}
.sugerencias{
    display: none;
}
.directo, .lista, .mixes, .directo, .juegos, .pop{
    display: none;
}














@media only screen and (max-width: 600px) {
    body{
        
    }

}
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        .iconoslateral,  .buscar {
        display: block;
        }
        }
        }


  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
    .sugerencias, .buscar{
    display: flex;
    }
    }
    }

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        .directo, .lista, .mixes, .directo, .juegos, .pop{
            display: block;
        }
    }
}

  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
    }
}