nav  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-between;
    padding: 5px 23px 5px 23px ;
}

#sidebar:hover{
    border-radius: 25px 25px 25px 25px;
   
    transition: font-weight 0.1s;
    background-color:rgba(50, 48, 48, 0.97);
    font-weight: 600;
    cursor: pointer;
    transition: font-weight 0.1s;

}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 150px;
    gap: 25px;
}
nav > div > i {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-content: space-between;
    gap:  10px;
}

.icon-central {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 20px;
}
.icon-central > input {
    border-radius: 25px 0 0px 25px;
    border-color:rgba(109, 98, 98, 0.214);
    padding: 8px;
    font-size: 10px;

}

.buscar{
    width: 500px;
    height: 30px;
    border-radius: 25px 0px 0px 25px;
    border-right: 1px;
    border: 1px solid rgba(50, 48, 48, 0.97);
    padding: 8px;
    font-size: 15px;
    border-color: black(24, 26, 28);
}

.lupa{
    border-radius: 0px 25px 25px 0px;
    border-color:rgba(154, 154, 154, 0);
    border: 3px;
    background-color: (109, 107, 107, 0.358);
    padding: 0px;
    font-size: 17px;
    width: 45px;
    height: 48px;
    cursor: pointer;
}


.microfono{
    border-radius: 25px 25px 25px 25px;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 17px;
}

.icon-derecho{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:20px;
    border:none;

}

.user, .video, .campana{
    border-radius: 80px;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 20px;
}

.user:hover, .video:hover , .campana:hover, .microfono:hover, .lupa:hover, #sidebar:hover{
    background-color:rgba(50, 48, 48, 0.97);
    font-weight: 600;
    cursor: pointer;
    transition: font-weight 0.1s;
}

.fila{
    display: flex;
    gap: 0;
    align-items: center;
}

.buscar{
    display: none;
}
